{% extends '@EasyAdmin/default/layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block head_stylesheets %}
    {{ parent() }}
    <style>
        header.main-header,
        aside.main-sidebar {
            display: none;
        }
        .wrapper {
            background: #F5F5F5;
        }
        .fixed .content-wrapper {
            margin-left: 0;
            padding-top: 0;
        }
    </style>
{% endblock %}

{% block page_title 'Red Posconsumo' %}
{% block body_id 'welcome' %}

{% block main %}

    <div class="box box--secondary">
        <h1>{{ block('page_title') }}</h1>
        <p>
            
        </p>
    </div>

    <div class="box box--primary">
        <div class="row">
            <h1 class="col-sm-12">
                <i class="fa fa-exclamation-triangle"></i>
                Página no encontrada (404)
            </h1>

            <div class="col-sm-12">
                 <p>La página solicitada no puede ser encontrada.</p>
                 <p>Revísa la dirección ó <a href="{{ path('_homepage') }}">regresa a la página inicio.</a></p>
            </div>
        </div>
    </div>
{% endblock %}
